p {
	margin: 50px;
}
.style1 {
	font-family: "BPG Classic Medium", sans-serif;
}
.style2 {
	font-family: 'ALK Tall Mtavruli';
}
.style3 {
	font-family: 'Dela Gothic One', cursive;
}
.style4 {
	font-family: 'Big Shoulders Stencil Display';
}